.head-with-border {
  position: relative;
  h2 {
    background-color: $red;
    color: white;
    padding: 20px 30px;
    font: {
      weight: bold;
      size: 18px;
    }
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
    border-radius: 3px;
    margin: 10px auto;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      background-color: $white;
      height: 1.2px;
      z-index: -1;
    }
  }
}